:root {
    /* Цвета */
    --bg-main: #FFB238;
    --card-bg: #FF773D;
    --text-main: #000000;
    --text-second: #FFFFFF;
    --form-bg: #D45E2C;
    --form-ph: #FFA57F;
    --bg-btn: #000000;
    --bg-footer: #D59734;

    /* z-index */
    --z-base: 1;
    --z-blur: 2;
    --z-header: 100;
    --z-dropdown: 200;
    --z-modal: 1000;
    --z-overlay: 1100;
    --z-tooltip: 1200;
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    background-color: var(--bg-main);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Хедер */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: var(--z-header);
    background-color: var(--bg-main);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

.header_grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    column-gap: 30px;
}

.header_logo {
    grid-column: 1 / 4;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header_nav {
    grid-column: 4 / 13;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.header_nav a {
    text-decoration: none;
    color: var(--text-main);
    font-weight: 500;
    padding: 8px 0;
    position: relative;
    transition: color 0.3s ease;
}

.header_nav a:hover {
    color: #333333;
}

/* Мобильный хедер */
.burger {
    display: none;
    font-size: 28px;
    background: none;
    border: none;
    cursor: pointer;
}

.mobile_menu {
    padding-top: 80px;
    position: fixed;
    inset: 0;   
    background: rgba(0, 0, 0, 0.4);
    display: none;
    z-index: var(--z-overlay);
}

.mobile_menu.active {
    display: block;
}

.mobile_nav {
    background: var(--bg-main);
    margin: 15px;
    border-radius: 12px;
    overflow: hidden;
}

.mobile_nav a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #000;
}

.mobile_nav a:last-child {
    border-bottom: none;
}

@media (max-width: 1060px) {
    .header_grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: stretch;
        column-gap: 15px;
    }

    .header_nav {
        display: none;
    }

    .burger {
        display: block;
        grid-column: 12 / 13;
        justify-self: end;
    }

    .header_logo {
        grid-column: 1 / 11;
    }
}

/* Основной заголовок */
.main_title {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    color: var(--text-second);
}

.main_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(4px);
}

.main_content {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    color: var(--text-main);
    text-align: center;
    width: 100%;
    max-width: 800px;
    padding: 0 20px;
}

.first_info {
    font-size: 32px;
    margin-bottom: 10px;
    color: var(--text-second);;
}

.second_info {
    font-size: 20px;
    font-weight: 400;
    color: var(--text-second);
}

/* Мобильная адаптация текста */
@media (max-width: 1060px) {
    .first_info {
        font-size: 16px;
    }
    .second_info {
        font-size: 12px;
    }
}

.title {
    color: var(--text-main);
    font-size: 42px;
}

@media (max-width: 1060px) {
    .title {    
        font-size: 20px;
    }
}

/* Раздел О нас */
.about_us_grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;
    color: var(--text-main);
}

.first_about_image {
    grid-column: 1 / 6;
    grid-row: 1;
    border-radius: 10px;
}

.first_about_product {
    grid-column: 6 / 13;
    grid-row: 1;
    font-size: 24px;
}

.second_about_product {
    grid-column: 1 / 8;
    font-size: 24px;
    grid-row: 2;
}

.second_about_image {
    grid-column: 8 / 13;
    grid-row: 2;
    border-radius: 10px;
}

@media (max-width: 1060px) {
    .about_us_grid {
        grid-template-columns: 1fr;
        row-gap: 20px;
    }

    .first_about_image,
    .second_about_image,
    .first_about_product,
    .second_about_product {
        grid-column: 1 / -1;
        grid-row: auto;
    }

    .first_about_image,
    .second_about_image {
        width: 100%;
        height: auto;
    }

    .first_about_product,
    .second_about_product {
        font-size: 16px;
        line-height: 1.4;
    }
}

/* Раздел Хиты продаж */
.bestsellers_flex {
    display: flex;
    flex-wrap: wrap;
    margin-left: -21px;
    width: calc(100% + 21px);
}

.product_card {
    width: calc(25% - 21px);
    margin-left: 21px;
    margin-bottom: 12px;
    color: var(--text-main);
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: var(--card-bg);
    border-radius: 10px;
    font-size: 20px;
}

.product_card img {
    max-width: 100%;
    height: auto;
    margin: 0 auto 10px;
    display: block;
}

.product_card p {
    margin: 0px;
}

.price {
    font-weight: 600;
}

.details_button {
    margin-top: 20px;
    background-color: var(--bg-btn);
    color: #FFFFFF;
    border-radius: 15px;
    padding: 10px;
    border: 0;
    cursor: pointer;
}

/* Адаптация карточек */
@media (max-width: 1060px) {
    .product_card {
        width: calc(50% - 21px);
        font-size: 16px;
    }
    .details_button {
        font-size: 14px;
    }
}

/* Раздел "Каталог товаров" */
.catalog {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-bottom: 30px;
}

.catalog_btn {
    background-color: #F78500;
    color: #fff;
    border-radius: 20px;
    border: 0;
    padding: 5px 14px;
    font-size: 20px;
    cursor: pointer;
    flex-shrink: 0;
    transition: background-color 0.2s;
}

.catalog_btn:hover {
    background-color: #dd7702;
}

.catalog_btn.active {
    background-color: var(--bg-btn);
}

/* Адаптация скрола категорий */
@media (max-width: 1060px) {
    .catalog {
        justify-content: flex-start;
        overflow-x: auto;
        gap: 10px;
        padding-bottom: 10px;
        scrollbar-width: none;
    }

    .catalog::-webkit-scrollbar {
        display: none;
    }

    .catalog_btn {
        font-size: 14px;
        padding: 6px 12px;
    }
}

/* Раздел "Наше производство" */
.slider {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.slide {
    position: relative;
    display: none;
    overflow: hidden;
    border-radius: 20px;
}

.slide::before {
    content: "";
    position: absolute;
    inset: 0;
    background: inherit;
    backdrop-filter: blur(6px);
    z-index: var(--z-base);
}

.slide.active {
    display: block;
}

.slide img {
    width: 100%;
    height: auto;
    display: block;
}

.slide_content {
    position: absolute;
    inset: 0;
    z-index: var(--z-blur);
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 20px;
    text-align: center;
}

.slide_content p {
    color: #fff;
    font-size: 32px;
    max-width: 80%;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 20px;
}

.slider_btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: var(--z-blur);

    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;

    width: 40px;
    height: 40px;

    border: none;
    border-radius: 50%;
    background: rgba(0,0,0,0.6);
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

.slider_btn.prev { left: 15px; }
.slider_btn.next { right: 15px; }

.dots {
    position: absolute;
    z-index: var(--z-blur);
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    gap: 8px;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgba(255,255,255,0.5);
}

.dot.active {
    background: #fff;
}

/* Мобильная адаптация */
@media (max-width: 1060px) {
    .slide_content p {
        font-size: 14px;
        max-width: 90%;
    }

    .slider_btn {
        width: 32px;
        height: 32px;
        font-size: 20px;
    }

    .slider_btn.prev { left: 1px; }
    .slider_btn.next { right: 1px; }
}

/* Раздел "Отзывы" */
.reviews_flex {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.review {
    position: relative;
    flex-direction: column;
    background-color: var(--card-bg);
    color: var(--text-second);
    width: calc(33.333% - 20px);
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
}

.quote {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.review_username { font-size: 24px; }
.review_text { font-size: 20px; }

/* Подраздел "Оставьте свой отзыв" */
.leave_review {
    background-color: var(--card-bg);
    border-radius: 10px;
    padding: 10px;
    margin-top: 50px;
}

.leave_review_title {
    text-align: center;
    font-size: 32px;
    color: var(--text-second);
    margin-bottom: 30px;
}

.review_form {
    max-width: 900px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: 12px;
}

.review_form label {
    color: var(--text-second);
    margin-bottom: -8px;
    font-size: 24px;
}

.review_form input,
.review_form textarea {
    width: 100%;
    background: var(--form-bg);
    border: none;
    border-radius: 10px;
    padding: 12px 16px;
    color: var(--text-main);
    font-size: 24px;

    outline: none;
}

.review_form textarea {
    min-height: 160px;
    resize: none;
}

.review_form input::placeholder,
.review_form textarea::placeholder {
    color: var(--form-ph);
}

.review_form button {
    align-self: center;
    padding: 12px 40px;
    min-width: 500px;
    background: var(--bg-btn);
    color: var(--text-second);
    border-radius: 10px;
    font-size: 24px;
    border: none;
    cursor: pointer;
}

@media (max-width: 1060px) {
    .review {
        width: 100%;
    }
    .review_username { font-size: 20px; }
    .review_text { font-size: 14px }

    .review_form button {
        min-width: 200px;
    }

    .leave_review_title, .review_form button  { font-size: 20px; }
    .review_form label, .review_form input, .review_form textarea { font-size: 16px; }
}

/* Раздел "Контакты" */
.contacts_flex {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.contact {
    text-align: center;
    flex-direction: column;
    padding: 20px;
    background-color: var(--card-bg);
    color: var(--text-second);
    width: calc(33.333% - 20px);
    border-radius: 10px;
    font-size: 26px;
}

@media (max-width: 1060px) {
    .contact {
        width: 100%;
        font-size: 20px;
    }
}

/* Подвал */
footer {
    margin-top: 20px;
    background-color: var(--bg-footer);
    font-size: 16px;
}

.footer_grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 10px;
}

.footer_info, .footer_copyright {
    grid-column: 1 / 5;
}

.footer_nav {
    grid-column: 7 / 13;
    grid-row: 1;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.footer_el {
    gap: 4px;
    margin-top: 10px;
}

.footer_el > p:first-child {
    font-weight: 600;
    color: #000;
    margin-bottom: 10px;
}

.footer_el a {
    display: block;
    color: rgba(0,0,0,0.6);
    text-decoration: none;
}

.footer_el a:hover {
    color: #000;
}

.footer_el p:not(:first-child) {
    color: rgba(0,0,0,0.6);
}

.footer_el p {
    margin: 0;
}

@media (max-width: 1060px) {
    .footer_grid {
        grid-template-columns: 1fr;
        row-gap: 20px;
    }

    .footer_info {
        display: none;
    }

    .footer_nav,
    .footer_copyright {
        grid-column: 1 / -1;
    }

    .footer_nav {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer_copyright {
        text-align: center;
        order: 99;
    }
}

/* Модальное окно для товаров */
.modal_overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

/* Контент модалки */
.modal_content {
    position: relative;
    background: var(--card-bg);
    border-radius: 10px;
    padding: 20px;
    max-width: 900px;
    width: 90%;
    box-shadow: 0 10px 40px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.close_btn {
    position: absolute;
    top: 14px;
    right: 14px;
    cursor: pointer;
    opacity: 0.9;
}

.close_btn:hover {
    opacity: 1;
}

.modal_content img {
    align-self: center;
    object-fit: contain;
}

.price_modal {
    font-size: 32px;
    font-weight: 600;
    margin: 0;
}

.description_modal {
    font-size: 30px;
    color: var(--text-main);
    margin: 0;
}

.extra_info {
    font-size: 20px;
    color: rgba(0,0,0,0.55);
    margin: 0;
}

@media (max-width: 1060px) {
    .modal_content {
        max-width: 345px;
    }
    .price_modal {
        font-size: 24px;
    }
    .description_modal {
        font-size: 20px;
    }
    .extra_info {
        font-size: 14px;
    }
    .modal_content img {
        width: 280px;
        height: 200px;
    }
}