<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', path='main/style.css') }}">
    <script src="{{ url_for('static', path='main/script.js') }}" defer></script>
    <link rel="icon" href="{{ url_for('static', path='images/favicon.svg') }}" type="image/x-icon">
    <title>Хвостик</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="header_grid">
                <div class="header_logo">
                    <img src="{{ url_for('static', path='images/logo.svg') }}" alt="Логотип">
                    <p>Хвостик</p>
                </div>
                
                <nav class="header_nav">
                    <a href="#about_us">О нас</a>
                    <a href="#bestsellers">Хиты продаж</a>
                    <a href="#products">Каталог товаров</a>
                    <a href="#our_production">Наше производство</a>
                    <a href="#reviews">Отзывы</a>
                    <a href="#contacts">Контакты</a>
                </nav>

                <button class="burger" id="burger">☰</button>
            </div>
        </div>
    </header>

    <!-- Мобильное меню -->
    <div class="mobile_menu" id="mobileMenu">
        <nav class="mobile_nav">
            <a href="#about_us">О нас</a>
            <a href="#bestsellers">Хиты продаж</a>
            <a href="#products">Каталог товаров</a>
            <a href="#our_production">Наше производство</a>
            <a href="#contacts">Контакты</a>
            <a href="#reviews">Отзывы</a>
        </nav>
    </div>

    <main>
        <!-- Главная картина -->
        <section class="main_title">
            <div class="main_image">
                <img src="{{ url_for('static', path='images/bigmainimage.jpg') }}" alt="Главная картина">
            </div>
            <div class="main_content container">
                <p class="first_info">Семейный магазин товаров для кошек</p>
                <p class="second_info">Лучшее проявление любви к любимцу!</p>
            </div>
        </section>
        <!-- О нас -->
        <section id="about_us">
            <div class="container">
                <p class="title">О нас</p>
                <div class="about_us_grid">
                    <img class="first_about_image" width="455" height="230" src="{{ url_for('static', path='images/aboutusfirst.jpg') }}" alt="Кошачьи игрушки">
                    <p class="first_about_product">Мы предлагаем качественные и удобные товары для кошек, делая заботу о питомцах простой и приятной. 
                        Наша цель — радовать владельцев кошек и их любимцев, сочетая высокое качество и доступные цены.
                    </p>
                    <img class="second_about_image" width="455" height="230" src="{{ url_for('static', path='images/aboutussecond.jpg') }}" alt="Производство игрушек">
                    <p class="second_about_product">
                        Наше производство основано на ручной сборке и тщательном контроле качества. 
                        Мы используем безопасные материалы и тестируем каждую модель, чтобы товары служили долго и приносили комфорт вашим питомцам.
                    </p>
                </div>
            </div>
        </section>
        <!-- Хиты продаж -->
        <section id="bestsellers">
            <div class="container">
                <p class="title">Хиты продаж</p>
                <div class="bestsellers_flex">
                    {% for hit in hit_products %}
                        <div class="product_card"
                            data-image="{{ url_for('static', path='images/' + hit.image_url) }}"
                            data-price="{{ hit.price|round() }} ₽"
                            data-description="{{ hit.description }}"
                            data-code="{{ hit.id }}"
                            data-category="{{ hit.category.text }}"
                            data-brand="{{ hit.brand }}"
                            data-country="{{ hit.country }}"
                            data-material="{{ hit.material }}"
                            data-age="{{ hit.animal_age }}"
                        >
                            <img width="215" height="173" src="{{ url_for('static', path='images/' + hit.image_url) }}" alt="Изображение товара">
                            <p class="price">{{ hit.price|round() }} ₽</p>
                            <p class="description">{{ hit.description }}</p>
                            <button class="details_button">Подробнее</button>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- Каталог товаров -->
        <section id="products">
            <div class="container">
                <p class="title">Каталог товаров</p>
                <div class="catalog">
                    <button data-category="all" class="catalog_btn active">Все</button>
                    {% for category in categories %}
                        <button data-category="{{ category.title }}" class="catalog_btn">{{ category.text }}</button>
                    {% endfor %}
                </div>

                <div class="bestsellers_flex" id="productsList">
                    <!-- Здесь будут появлятся товары в зависимости от фильтра -->
                </div>
            </div>
        </section>
        <!-- Наше производство -->
        <section id="our_production">
            <div class="container">
                <p class="title">Наше производство</p>
                <div class="slider">
                    <div class="slides">
                        <div class="slide active">
                            <img src="{{ url_for('static', path='images/manufacturer1.jpg') }}" alt="Изображение производства">
                            <div class="slide_content">
                                <p>Мы используем безопасные и гипоаллергенные материалы, чтобы ваши кошки чувствовали комфорт каждый день.</p>
                            </div>
                        </div>
                        <div class="slide">
                            <img src="{{ url_for('static', path='images/manufacturer2.jpg') }}" alt="Изображение производства">
                            <div class="slide_content">
                                <p>В работе используем только нетоксичные и гипоаллергенные материалы, подходящие для ежедневного использования.</p>
                            </div>
                        </div>
                        <div class="slide">
                            <img src="{{ url_for('static', path='images/manufacturer3.jpg') }}" alt="Изображение производства">
                            <div class="slide_content">
                                <p>Мы проверяем каждое изделие вручную, чтобы оно было безопасным и долговечным для питомца.</p>
                            </div>
                        </div>
                        <div class="slide">
                            <img src="{{ url_for('static', path='images/manufacturer4.jpg') }}" alt="Изображение производства">
                            <div class="slide_content">
                                <p>Мы создаём товары с любовью, ориентируясь на комфорт, игру и здоровье кошек.</p>
                            </div>
                        </div>
                    </div>

                    <button class="slider_btn prev">‹</button>
                    <button class="slider_btn next">›</button>

                    <div class="dots">
                        <span class="dot active"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                    </div>
                </div>
            </div>
        </section>
        <!-- Отзывы -->
        <section id="reviews">
            <div class="container">
                <p class="title">Отзывы</p>
                <div class="reviews_flex">
                    {% for review in reviews %}
                        <div class="review">
                            <div class="quote">
                                <img src="{{ url_for('static', path='images/quote.svg') }}" alt="Иконка цитаты">
                            </div>
                            <p class="review_username">{{ review.username }}</p>
                            <p class="review_text">{{ review.text }}</p>
                        </div>
                    {% endfor %}
                </div>
                <div class="leave_review">
                    <p class="leave_review_title">Оставьте свой отзыв</p>

                    <form class="review_form" id="review_form">
                        <label for="name">Ваше имя</label>
                        <input type="text" name="username" placeholder="Введите имя" required>

                        <label for="email">Почта</label>
                        <input type="email" name="email" placeholder="Введите почту" required>

                        <label for="review">Ваш отзыв</label>
                        <textarea name="text" placeholder="Впишите отзыв в данное поле" required></textarea>

                        <button type="submit">Отправить</button>
                    </form>
                </div>
            </div>
        </section>
        <!-- Контакты -->
        <section id="contacts">
            <div class="container">
                <p class="title">Контакты</p>
                <div class="contacts_flex">
                    <div class="contact">
                        <img src="{{ url_for('static', path='images/phone.svg') }}" alt="Значок контактов">
                        <p>Позвоните нам</p>
                        <p>+8-999-999-99-99</p>
                    </div>
                    <div class="contact">
                        <img src="{{ url_for('static', path='images/phone.svg') }}" alt="Значок почты">
                        <p>Напишите нам</p>
                        <p>example@example.com</p>
                    </div>
                    <div class="contact">
                        <img src="{{ url_for('static', path='images/address.svg') }}" alt="Значок адреса">
                        <p>Наш адрес</p>
                        <p>ул. Примерная 7Б</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Подвал -->
        <footer>
            <div class="container">
                <div class="footer_grid">
                    <div class="footer_info">
                        <p>Семейный магазин товаров для кошек. Качество, доступность и забота о вашем питомце.</p>
                    </div>
                    <div class="footer_copyright">
                        <p>Copyright © 2025 Хвостик</p>
                    </div>
                    <div class="footer_nav">
                        <div class="footer_el">
                            <p>О компании</p>
                            <a href="#our_production">Наше производство</a>
                            <a href="#contacts">Контакты</a>
                            <a href="#reviews">Отзывы</a>
                        </div>
                        <div class="footer_el">
                            <p>Покупателям</p>
                            <a href="#about_us">О нас</a>
                            <a href="#bestsellers">Хиты продаж</a>
                            <a href="#products">Каталог товаров</a>
                        </div>
                        <div class="footer_el">
                            <p>Контакты</p>
                            <p>ул. Примерная 7Б</p>
                            <p>example@example.com</p>
                            <p>+8-999-999-99-99</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div id="myModal" class="modal_overlay">
            <div class="modal_content">
                <svg class="close_btn" width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.41421 18.4143C1.86193 18.9666 0.9665 18.9666 0.414215 18.4143C-0.13807 17.862 -0.13807 16.9666 0.414215 16.4143L3.41422 13.4143C5.62336 11.2052 5.62335 7.62344 3.41421 5.41431L0.414215 2.41431C-0.13807 1.86202 -0.13807 0.966592 0.414215 0.414307C0.9665 -0.137978 1.86193 -0.137978 2.41422 0.414307L5.41422 3.41431C7.62336 5.62345 11.2051 5.62345 13.4142 3.41431L16.4142 0.414306C16.9665 -0.137979 17.8619 -0.137978 18.4142 0.414307C18.9665 0.966592 18.9665 1.86202 18.4142 2.41431L15.4142 5.41431C13.2051 7.62345 13.2051 11.2052 15.4142 13.4143L18.4142 16.4143C18.9665 16.9666 18.9665 17.862 18.4142 18.4143C17.8619 18.9666 16.9665 18.9666 16.4142 18.4143L13.4142 15.4143C11.2051 13.2052 7.62335 13.2052 5.41421 15.4143L2.41421 18.4143Z" fill="black"/>
                </svg>
                <img class="modal_image" width="700" height="350" src="{{ url_for('static', path='images/nophoto.jpg') }}" alt="Изображение товара">
                <p class="price_modal">85 ₽</p>
                <p class="description_modal">Корм для кошек ROYAL CANIN 85г Gastrointestinal соус при расстройствах пищеварения</p>
                <p class="extra_info" id="product_code">Код товара: 1001</p>
                <p class="extra_info" id="product_category">Категория: Корм</p>
                <p class="extra_info" id="product_brand">Бренд: Хвостик</p>
                <p class="extra_info" id="product_country">Страна производства: Россия</p>
                <p class="extra_info" id="product_material">Материал: Натуральные материалы</p>
                <p class="extra_info" id="product_age">Возраст питомца: Для всех возрастов</p>
            </div>
        </div>
    </main>
</body>
</html>